<p>Willkommen bei Fietsboek!</p>
<p>
  Hier kannst Du &hellip;
  <ul>
    <li>Rad- und Wanderstrecken, die mit einem GPS-Gerät aufgezeichnet wurden, hochladen</li>
    <li>Diese Strecken mit anderen Nutzern teilen, oder Freunden Links zu den Strecken senden</il>
    <li>Strecken anderer Nutzer kommentieren</li>
    <li>Strecken finden, die Du selbst fahren oder wandern möchtest</li>
    <li>Eine Zusammenfassung der pro Monat/Jahr zurückgelegten Strecke sehen</li>
  </ul>
</p>
