{% extends "layout.jinja2" %}

{% import "edit_form.jinja2" as edit_form with context %}
{% import "util.jinja2" as util with context %}

{% block content %}
<div class="container">
  <h1>{{ _("page.upload.title") }}</h1>
  <div id="mainmap" class="gpxview:{{ request.route_path('preview', upload_id=preview_id) }}:OSM" style="width:100%;height:600px">
    <noscript><p>{{ _("page.noscript") }}<p></noscript>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {{ edit_form.edit_track(upload_title, upload_date, upload_date_tz, upload_visibility, upload_type, upload_description, upload_tags, badges, upload_tagged_people, []) }}
    {{ util.hidden_csrf_input() }}
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary">{{ _("page.upload.form.submit") }}</button>
      <button type="submit" class="btn btn-danger" form="cancelForm">{{ _("page.upload.form.cancel") }}</button>
    </div>
  </form>
  <form id="cancelForm" method="POST" action="{{ request.route_url('cancel-upload', upload_id=preview_id) }}">
    {{ util.hidden_csrf_input() }}
  </form>
</div>
{% endblock %}
